<div class="container">
  <mat-card class="mt-3">
    <mat-card-title>Dodaj lub edytuj obuwie</mat-card-title>
    <mat-card-content>
      <form #addShoesForm="ngForm" (ngSubmit)="saveShoes()" novalidate>
        <div class="row">
          <div class="col-12">
            <label class="red-star">Marka</label>
            <mat-form-field class="input-width">
              <mat-select [(ngModel)]="shoes.brand" name="brand" [formControl]="shoesForm.brand" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let brand of brands" [value]="brand.value">
                  {{ brand.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="shoesForm.brand.hasError('required')">
                To pole jest wymagane
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="red-star">Model</label>
            <mat-form-field class="input-width">
              <input matInput [formControl]="shoesForm.model" [errorStateMatcher]="matcher" [(ngModel)]="shoes.model">
              <mat-error *ngIf="shoesForm.model.hasError('required')">
                To pole jest wymagane
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="red-star">Cena</label>
            <mat-form-field class="input-width">
              <input matInput appOnlyNumber="true" [formControl]="shoesForm.price" [errorStateMatcher]="matcher" [(ngModel)]="shoes.price">
              <mat-error *ngIf="shoesForm.price.hasError('required')">
                To pole jest wymagane
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="red-star">Dla płci</label>
            <mat-form-field class="input-width">
              <mat-select [(ngModel)]="shoes.gender" [formControl]="shoesForm.gender" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                  {{ gender.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="shoesForm.gender.hasError('required')">
                To pole jest wymagane
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="red-star">Typ</label>
            <mat-form-field class="input-width">
              <mat-select [(ngModel)]="shoes.shoeType" [formControl]="shoesForm.shoeType" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="shoesForm.shoeType.hasError('required')">
                To pole jest wymagane
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="red-star">Opis</label>
            <mat-form-field class="input-width">
              <input matInput [formControl]="shoesForm.description" [errorStateMatcher]="matcher" [(ngModel)]="shoes.description">
              <mat-error *ngIf="shoesForm.description.hasError('required')">
                To pole jest wymagane
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <label>Warianty</label>
            <button mat-raised-button color="primary" (click)="openDialog()" type="button">Dodaj</button>
            <ul>
              <li *ngFor="let variant of shoes.variants">
                {{ colors[variant.shankColor] }} - {{ colors[variant.soleColor] }}
                <span *ngFor="let size of variant.sizedShoes" class="badge badge-warning mx-1">{{ size.size }} - {{ size.quantity }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row marg-left ">
          <button mat-raised-button type="submit" [disabled]="isButtonDisabled() || !shoes.variants.length">Zapisz</button>
        </div>
      </form>
      <div class="mt-3">
        <span class="red-star"></span> Pola oznaczone gwiazdką muszą zostać wypełnione.
      </div>
    </mat-card-content>
  </mat-card>
</div>
