@import "../../styles.scss";

.container {
  form {
    width: 535px;
    margin: 0 auto;
    label {
      width: 130px;
      text-align: right;
      padding-right: 20px;
    }
    .input-width {
      width: 400px;
    }
    .marg-left {
      margin-left: 130%;
      button {
        background-color: $button-color;
        color: #fff;
      }
    }
  }
}
