.filter-form {
  mat-form-field input {
    width: 85%;
  }
  .full-width {
    width: 92%;
  }
  .row {
    button {
      transform: translateX(300px);
      background-color: chocolate;
      color: white;
      font-size: bold;
    }
  }
}
