<mat-card>
  <mat-card-title>Filtry</mat-card-title>
  <mat-card-content>
    <form class="filter-form" #filtersForm="ngForm" (ngSubmit)="filter()">
      <h4>Cena</h4>
      <mat-form-field>
        <input matInput type="number" placeholder="Od" [(ngModel)]="filters.priceFrom" name="priceFrom" #priceFrom="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Do" [(ngModel)]="filters.priceTo" name="priceTo" #priceTo="ngModel">
      </mat-form-field>
      <h4 class="mt-3">Marka</h4>
      <mat-form-field class="full-width">
        <mat-select [(ngModel)]="filters.brands" name="brand" #brand="ngModel" multiple>
          <mat-option *ngFor="let brand of brands" [value]="brand.value">
            {{ brand.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h4>Kolor obuwia</h4>
      <mat-form-field class="full-width">
        <mat-select [(ngModel)]="filters.shankColors" name="shankColor" #shankColor="ngModel" multiple>
          <mat-option *ngFor="let color of colors" [value]="color.value">
            {{ color.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h4>Kolor podeszwy</h4>
      <mat-form-field class="full-width">
        <mat-select [(ngModel)]="filters.soleColors" name="soleColor" #soleColor="ngModel" multiple>
          <mat-option *ngFor="let color of colors" [value]="color.value">
            {{ color.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="row">
        <button mat-raised-button type="submit">Filtruj</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
