@import "../../styles.scss";

.filter-form {
  mat-form-field {
    width: 157px;
    input {
      width: 85%;
    }
  }
  .full-width {
    width: 92%;
  }
  .row {
    button {
      transform: translateX(275px);
      background-color: $button-color;
      color: white;
      font-size: bold;
    }
  }
}
