<mat-card>
  <mat-card-title>Filtry</mat-card-title>
  <mat-card-content>
    <form class="filter-form">
      <h4>Cena</h4>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Od">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Do">
      </mat-form-field>
      <h4>Rozmiar obuwia</h4>
      <div class="button-row">
        <button mat-button class="size-btn">37</button>
        <button mat-button class="size-btn">38</button>
        <button mat-button class="size-btn">39</button>
        <button mat-button class="size-btn">40</button>
      </div>
      <div class="button-row mt-1">
        <button mat-button class="size-btn">41</button>
        <button mat-button class="size-btn">42</button>
        <button mat-button class="size-btn">43</button>
        <button mat-button class="size-btn">44</button>
      </div>
      <div class="button-row mt-1">
        <button mat-button class="size-btn">45</button>
        <button mat-button class="size-btn">46</button>
        <button mat-button class="size-btn">47</button>
        <button mat-button class="size-btn">48</button>
      </div>
      <h4 class="mt-3">Marka</h4>
      <mat-form-field class="example-full-width">
        <input matInput>
      </mat-form-field>
      <h4>Nazwa</h4>
      <mat-form-field class="example-full-width">
        <input matInput>
      </mat-form-field>
      <h4>Kolor</h4>
      <mat-form-field class="example-full-width">
        <input matInput>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
