<div>
  <h3>Dodaj wariant</h3>
  <form #addVariantForm="ngForm" (ngSubmit)="saveVariant()" novalidate>
    <div class="row mt-3">
      <div class="col-12">
        <label>Zdjęcie obuwia</label>
        <input type="file" (change)="selectImage($event)">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Kolor obuwia</label>
        <mat-form-field class="input-width">
          <mat-select [(ngModel)]="variants.shankColor" [formControl]="variantsForm.shankColor" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let color of colors" [value]="color.value">
              {{ color.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="variantsForm.shankColor.hasError('required')">
            To pole jest wymagane
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Kolor podeszwy</label>
        <mat-form-field class="input-width">
          <mat-select [(ngModel)]="variants.soleColor" [formControl]="variantsForm.soleColor" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let color of colors" [value]="color.value">
              {{ color.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="variantsForm.soleColor.hasError('required')">
            To pole jest wymagane
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-5">Rozmiar</div>
          <div class="col-5">Liczba sztuk</div>
          <div class="col-2"></div>
        </div>
        <div class="row" *ngFor="let variant of variants.sizedShoes; let i = index">
          <div class="col-5">
            <mat-form-field class="variant-input-width">
              <input matInput [(ngModel)]="variant.size" name="{{ 'size' + i }}" required>
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field class="variant-input-width">
              <input matInput [(ngModel)]="variant.quantity" name="{{ 'quantity' + i }}" required>
            </mat-form-field>
          </div>
          <div class="col-2">
            <button [disabled]="variants.sizedShoes.length === 1" mat-raised-button class="remove-variant-btn" (click)="removeVariant(i)">&times;</button>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-5 text-right">
            <button type="button" mat-raised-button class="add-variant-btn" (click)="addVariant()">Dodaj kolejny rozmiar</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="row mt-3 text-right">
      <div class="col-12">
        <button mat-raised-button color="primary" type="submit" [disabled]="!addVariantForm.valid || !selectedImage">Zapisz</button>
      </div>
    </div>
  </form>
</div>
