.row {
  label {
    width: 200px;
  }
  .input-width {
    width: 340px;
  }
  .variant-input-width {
    width: 100%;
  }
  button {
    font-weight: bold;
    &.add-variant-btn {
      min-width: 60px;
      background-color: #33a94e;
      color: white;
    }
    &.remove-variant-btn {
      min-width: 60px;
      color: white;
      font-size: 25px;
      background-color: firebrick;
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
