/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~font-awesome/css/font-awesome.css";
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import "~ng2-toastr/bundles/ng2-toastr.min.css";

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.mat-progress-spinner {
  margin: 0 auto;
  margin-top: calc(50vh - 75px);
  svg circle {
    stroke: #33a94e;
  }
}
