@import "../../styles.scss";

.navbar-shoeshop {
  background-color: black;
  width: 101.6%;
  margin-left: -15px;
  .navbar-brand {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: #ddd;
    }
  }
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    li {
      float: left;
      a {
        color: white;
        padding: 0 15px;
        &:hover {
          text-decoration: none;
          color: #ddd;
        }
      }
    }
  }
  button {
    background-color: $button-color;
    color: white;
    &.shopping-cart-button {
      .shopping-cart-icon {
        font-size: 25px;
        padding: 0 10px 3px 0;
      }
    }
    &:hover {
      background-color: darken($button-color, $amount: 5);
    }
  }
}
