mat-toolbar {
  background-color: black;
  width: 101.6%;
  margin-left: -15px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: #ddd;
    }
  }
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    li {
      float: left;
      a {
        color: white;
        padding: 0 15px;
        &:hover {
          text-decoration: none;
          color: #ddd;
        }
      }
    }
  }
  button {
    background-color: #33a94e;
    color: white;
    &.shopping-cart-button {
      position: absolute;
      right: 24px;
      .shopping-cart-icon {
        font-size: 25px;
        padding: 0 10px 3px 0;
      }
    }
    &:hover {
      background-color: darken(#33a94e, $amount: 5);
    }
  }
}
