<mat-toolbar>
  <a [routerLink]="['']" class="navbar-brand">ShoeShop</a>
  <ul class="navbar-menu">
    <li>
      <a href="#">Męskie</a>
    </li>
    <li>
      <a href="#">Damskie</a>
    </li>
    <li>
      <a href="#">Dziecięce</a>
    </li>
    <li>
      <a href="#">Sportowe</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0" #searchForm="ngForm" (ngSubmit)="searchByPhrase()">
    <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search" name="searchInput" [(ngModel)]="searchText"
      #searchInput="ngModel">
    <button mat-raised-button class="my-2 my-sm-0" type="submit">Szukaj</button>
  </form>
  <button mat-raised-button class="my-2 my-sm-0 mx-1" [routerLink]="['add']">Dodaj</button>
  <button mat-raised-button class="my-2 my-sm-0 mx-1 shopping-cart-button" [routerLink]="['shopping-cart']">
    <i class="fa fa-shopping-cart shopping-cart-icon"></i> ({{order.variants.length}}) - {{order.totalPrice}}ZŁ
  </button>
</mat-toolbar>
