.shoes-card {
  width: 23.3%;
  position: relative;
  display: inline-block;
  .shoes-image {
    padding: 0 10px;
  }
  .badge-price {
    background-color: #33a94e;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
