@import "../../../styles.scss";

.shoes-card {
  width: 23.3%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  .shoes-image {
    padding: 0 10px;
  }
  h4 {
    margin-bottom: 15px;
    .badge-price {
      background-color: $button-color;
      position: absolute;
      bottom: 10px;
      right: 15px;
    }
  }
}
