@import "../../styles.scss";

.container {
  .shoe-image {
    display: inline-block;
    width: 700px;
    height: 450px;
    img {
      height: 450px;
    }
  }
  .shoes-information {
    width: 350px;
    vertical-align: top;
    h2 {
      text-align: center;
      span {
        background-color: $button-color;
      }
    }
    display: inline-block;
    .color-variants {
      width: 50px;
      height: 50px;
      display: inline-block;
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
      border-radius: 50%;
      cursor: pointer;
    }
    .add-to-cart {
      width: 100%;
      background-color: $button-color;
      color: white;
      font-weight: bold;
      font-size: 20px;
    }
    .sizes-button {
      .selected-size {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        font-weight: bold;
      }
    }
  }
  .mat-list {
    width: 80%;
    margin: 20px auto 0;
    .mat-list-item {
      height: auto;
      h4 {
        width: 35%;
        font-size: inherit;
        font-weight: 600;
      }
      p {
        width: 65%;
        margin: 0.5rem 0;
      }
    }
    .mat-divider {
      position: relative;
    }
  }
}
